html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
  margin: 0;
}

#viewer-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
}

#document-wrapper {
  height: 100%;
  .ms-Grid, .ms-Grid-row, .ms-Grid-col {
    height: 100%;
  }
}

#document-preview {
  height: 100%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 30px;
  flex-basis: 70%;
  mark:not(.active) {
    background-color: transparent;
  }
}

#gview-preview {
  @extend #mammoth-preview;
  width: 100%;
  box-sizing: border-box;
}

.doc-title {
  font-size: 42px;
}