html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
  margin: 0;
}

#viewer-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
  & > .ms-MessageBar {
    height: 40px;
    position: absolute;
    z-index: 1;
  }
}

#document-wrapper {
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  .ms-Grid, .ms-Grid-row, .ms-Grid-col {
    height: calc(100% - 2px);
  }
  display: flex;
  flex-direction: row;
}

#document-preview {
  height: 100%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 0 30px;
  flex-basis: 70%;
  mark {
    background-color: #eaeaea;
    border-width: 1px;
    border-style: dashed;
    border-color: transparent;
    &.active {
      border-color: red;
    }
  }
  :first-child {
    margin-top: 0;
  }
  span[data-change-type="del"] {
    text-decoration: line-through;
    background-color: lightpink;
  }
  span[data-change-type="ins"] {
    background-color: lightgreen;
  }
}

#gview-preview {
  @extend #mammoth-preview;
  width: 100%;
  box-sizing: border-box;
}

#comments-wrapper {
  flex-basis: auto;
  padding: 0 10px;
}

.doc-title {
  font-size: 42px;
}

.ms-Callout-container {
  .ms-Callout-main {
    max-width: 500px;
    .callout-content {
      padding: 0 10px;
      p {
        max-height: 100px;
        overflow-y: auto;
      }
      textarea {
        padding: 5px 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }
      div.toggle-group {
        display: flex;
        flex-direction: row;
        .ms-Toggle {
          flex-basis: 50%;
        }
      }
    }
    .ms-MessageBar {
      position: absolute;
      bottom: 0;
    }
  }
}

.comment-reference {
  display: none;
}

.comment-box {
  $box-padding: 0 10px;
  padding-top: 10px;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  min-width: 200px;
  border-width: 1px;
  border-style: dashed;
  border-color: transparent;
  &.active {
    border-color: red;
  }
  &:hover {
    background-color: #eaeaea;
  }
  .comment-author {
    margin: 0;
    padding: $box-padding;
  }
  .comment-content {
    margin: 0;
    padding: $box-padding;
  }
  ul.comment-responses {
    padding-left: 30px;
    margin-bottom: 5px;
    li {
      margin-bottom: 5px;
      p {
        margin: 0;
      }
    }
  }
  .ms-CommandBar {
    background-color: unset;
    .ms-CommandBarItem:hover {
      background-color: #c8c8c8;
    }
  }
}