html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
}

#preview-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
}

#document-preview {
  height: 100%;
  width: 50%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 30px;
}