html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
  margin: 0;
}

#viewer-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
}

#document-wrapper {
  height: 100%;
  overflow-y: auto;
  padding-top: 20px;
  .ms-Grid, .ms-Grid-row, .ms-Grid-col {
    height: calc(100% - 2px);
  }
}

#document-preview {
  height: 100%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 0 30px;
  flex-basis: 70%;
  mark:not(.active) {
    background-color: transparent;
  }
  :first-child {
    margin-top: 0;
  }
}

#gview-preview {
  @extend #mammoth-preview;
  width: 100%;
  box-sizing: border-box;
}

.doc-title {
  font-size: 42px;
}

.ms-Callout-container {
  .ms-Callout-main {
    max-width: 500px;
    .callout-content {
      padding: 0 10px;
      p {
        max-height: 100px;
        overflow-y: auto;
      }
      textarea {
        padding: 5px 10px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}