html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
}

#viewer-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
}

#document-wrapper {
  display: flex;
  flex-direction: row;
}

#document-preview {
  height: 100%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 30px;
}

