html, body, #app, .ms-Fabric {
  width: 100%;
  height: 100%;
}

#viewer-wrapper {
  @extend #app;
  display: flex;
  flex-direction: column;
}

#document-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#document-preview {
  height: 100%;
}

#mammoth-preview {
  @extend #document-preview;
  padding: 30px;
  flex-basis: 70%;
}

#gview-preview {
  @extend #mammoth-preview;
}

.doc-title {
  font-size: 42px;
}